table {
	BORDER-TOP-WIDTH: 0px;
	PaDDING-RIGHT: 0px;
	PaDDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PaDDING-BOTTOM: 0px;
	MaRGIN: 0px;
	PaDDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px
}

body {
	PaDDING-RIGHT: 0px;
	PaDDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BaCKGROUND: #fff;
	PaDDING-BOTTOM: 5px;
	color: #333;
	PaDDING-TOP: 5px;
	FONT-FaMILY: ""
}

td {
	FONT-SIZE: 12px
}

.f12 {
	FONT-SIZE: 12px
}

a {
	TEXT-DECORaTION: underline
}

a:link {
	color: #0051b4
}

a:visited {
	color: #333
}

a:hover {
	color: #f00
}

a:active {
	color: #f00
}

.F14lists {
	LINE-HEIGHT: 23px
}

.F14lists UL {
	PaDDING-RIGHT: 3px;
	PaDDING-LEFT: 3px;
	PaDDING-BOTTOM: 0px;
	PaDDING-TOP: 0px
}

.F14lists LI {
	PaDDING-LEFT: 2px;
	FONT-SIZE: 14px;
	VERTICaL-aLIGN: bottom
}

.F14lists LI SPaN {
	FONT-SIZE: 9px;
	color: #533826
}

.FixTitle a:link {
	color: #0736aa;
	TEXT-DECORaTION: none
}

.FixTitle a:visited {
	color: #0736aa;
	TEXT-DECORaTION: none
}

.FixTitle a:hover {
	TEXT-DECORaTION: underline
}

.FixTitle {
	BORDER-RIGHT: #a2d1ff 1px solid;
	BORDER-TOP: #a2d1ff 1px solid;
	BaCKGROUND: url(../images/olyready_bg_cl_002.gif) 0px -101px;
	OVERFLOW: hidden;
	BORDER-LEFT: #a2d1ff 1px solid;
	LINE-HEIGHT: 24px;
	BORDER-BOTTOM: #a2d1ff 1px solid;
	HEIGHT: 24px
}

.FixTitle H3 {
	margin: 0;
	PaDDING-LEFT: 30px;
	FONT-SIZE: 14px;
	BaCKGROUND: url(../images/olyready_bg_cl_001.gif) 2px -197px;
	FLOaT: left;
	color: #0736aa
}

.FixTitle SPaN {
	PaDDING-RIGHT: 5px;
	FLOaT: right
}

.RForm {
	PaDDING-RIGHT: 10px;
	PaDDING-LEFT: 10px;
	PaDDING-BOTTOM: 10px;
	PaDDING-TOP: 10px
}

.RForm DT {
	LINE-HEIGHT: 23px
}

.RformB {
	PaDDING-LEFT: 10px
}

.blk_29 {
	BORDER-RIGHT: #a1d2fd 1px solid;
	PaDDING-RIGHT: 0px;
	BORDER-TOP: #a1d2fd 0px solid;
	PaDDING-LEFT: 0px;
	PaDDING-BOTTOM: 10px;
	OVERFLOW: hidden;
	BORDER-LEFT: #a1d2fd 1px solid;
	PaDDING-TOP: 10px;
	BORDER-BOTTOM: #a1d2fd 1px solid;
	ZOOM: 1;
	POSITION: relative
}

.blk_29 .LeftBotton {
	BaCKGROUND: url(../images/ca_hz_002.gif) no-repeat 0px 0px;
	LEFT: 5px;
	FLOaT: left;
	WIDTH: 11px;
	CURSOR: pointer;
	POSITION: absolute;
	TOP: 10px;
	HEIGHT: 114px
}

.blk_29 .RightBotton {
	RIGHT: 5px;
	BaCKGROUND: url(../images/ca_hz_002.gif) no-repeat -11px 0px;
	FLOaT: right;
	WIDTH: 11px;
	CURSOR: pointer;
	POSITION: absolute;
	TOP: 10px;
	HEIGHT: 114px
}

.blk_29 .Cont {
	MaRGIN: 5px auto;
	OVERFLOW: hidden;
	WIDTH: 900px;
	PaDDING-TOP: 5px
}

.blk_29 .box {
	FLOaT: left;
	WIDTH: 225px;
	TEXT-aLIGN: center;
	margin: 5px 5px 5px 5px;
}

.blk_29 .box IMG {
	BORDER-RIGHT: #add2fc 1px solid;
	PaDDING-RIGHT: 3px;
	BORDER-TOP: #add2fc 1px solid;
	DISPLaY: block;
	PaDDING-LEFT: 3px;
	BaCKGROUND: #fff;
	PaDDING-BOTTOM: 3px;
	MaRGIN: 0px auto;
	BORDER-LEFT: #add2fc 1px solid;
	PaDDING-TOP: 3px;
	BORDER-BOTTOM: #add2fc 1px solid
}

.blk_29 .box a:hover IMG {
	BORDER-RIGHT: #5385cc 1px solid;
	BORDER-TOP: #5385cc 1px solid;
	BORDER-LEFT: #5385cc 1px solid;
	BORDER-BOTTOM: #5385cc 1px solid
}

.blk_29 .box P {
	MaRGIN: 6px auto 0px;
	WIDTH: 97px;
	LINE-HEIGHT: 20px
}

.rollphotos {
	MaRGIN-TOP: 10px;
	WIDTH: 1000px
}

.partC {
	MaRGIN-TOP: 10px;
	OVERFLOW: auto;
	WIDTH: 950px
}

.partC .PC_left {
	OVERFLOW: auto;
	WIDTH: 470px
}

.partC .PC_right {
	OVERFLOW: auto;
	WIDTH: 470px
}

.partC .PC_left {
	FLOaT: left
}

.partC .PC_right {
	FLOaT: right
}

.PT_mix {
	BORDER-RIGHT: #a2d1ff 1px solid;
	PaDDING-RIGHT: 0px;
	BORDER-TOP: #a2d1ff 0px solid;
	PaDDING-LEFT: 0px;
	BaCKGROUND: #f3fbfe;
	PaDDING-BOTTOM: 10px;
	OVERFLOW: auto;
	BORDER-LEFT: #a2d1ff 1px solid;
	PaDDING-TOP: 0px;
	BORDER-BOTTOM: #a2d1ff 1px solid
}

.PhoTxt {
	MaRGIN-TOP: 10px;
	DISPLaY: inline;
	FLOaT: left;
	MaRGIN-LEFT: 10px;
	OVERFLOW: auto;
	WIDTH: 220px
}

.PhoTxt IMG {
	BORDER-RIGHT: #ccc 1px solid;
	PaDDING-RIGHT: 3px;
	BORDER-TOP: #ccc 1px solid;
	PaDDING-LEFT: 3px;
	BaCKGROUND: #fff;
	FLOaT: left;
	PaDDING-BOTTOM: 3px;
	BORDER-LEFT: #ccc 1px solid;
	MaRGIN-RIGHT: 5px;
	PaDDING-TOP: 3px;
	BORDER-BOTTOM: #ccc 1px solid
}

.PhoTxt H1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	LINE-HEIGHT: 23px
}

.PhoTxt P {
	color: #545454;
	LINE-HEIGHT: 20px
}
